
<%= link_to "Home", root_path %>
<h1>Orders for <%= current_user.name %></h1>
<% @orders.each do |order| %>
  Order ID: <%= order.id %>
  <p>Order status: <%= order.status %></p>
  <ul>
    <% order.order_items.each do |item| %>
      <li><%= item.product.name %> - Quantity: <%= item.quantity %></li>
    <% end %>
  </ul>
  <% if order.received_at %>
    Ordered at <%= order.created_at.strftime('%Y-%m-%d, %H:%M') %>
  <% end %>
  <% if order.pending? || order.delivering? %>
    <%= button_to ' Cancel order', profile_order_cancel_path(order.id), method: :patch %>
  <% end %>

  <% if order.received? && !order.expired? %>
    <%= button_to 'Reject order', profile_order_reject_path(order.id), method: :patch %>
  <% end %>
  <% if order.received? %>
    <%= form_with(model: order, url: profile_order_path(order), method: :patch, id: "rate-form", class: 'd-flex gap-1', data: { controller: "rating" }) do |form| %>
      <div class='me-2'>Rating:</div>
      <br>
      <% (1..5).to_a.each do |rating| %>
        <%= form.radio_button :rating, rating, id: "rating_#{rating}", data: { action: "change->rating#submitForm" } %>
        <%= form.label "rating_#{rating}", rating, for: "rating_#{rating}"  %>
      <% end %>
    <% end %>
  <% end %>
  <hr/>
<% end %>