<%= paginate @products %>
<div class="row row-cols-2 row-cols-md-6">
  <% @products.each do |product| %>
    <div class="col mb-4">
      <turbo-frame id="product-<%= product.id %>-frame">
        <div class="card main-product">
          <%= image_tag product.image.variant(resize_to_limit: [316, 240]) if product.image.attached? %>
          <div class="card-body">
            <% has_product = current_user && current_user.has_product?(product.id) %>
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.price %></p>
            <div class="d-flex align-items-center gap-2">
              <% if user_signed_in? && current_user.cart && has_product %>
                <div class="d-flex gap-2 align-items-center">
                  <div class="mr-2">Amount in cart:</div>
                  <%= button_to '-', product_decrement_quantity_path(product.id, page: params[:page]), remote: true, "data-turbo-stream": 'total_price_frame', "data-turbo-frame": "product-#{product.id}-frame",  method: :patch, class: "btn btn-outline-primary btn-sm mr-1" %>
                  <span><%= current_user.count_ordered_product(product.id) %></span>
                  <%= button_to '+', product_increment_quantity_path(product.id, page: params[:page]), remote: true, "data-turbo-frame": "product-#{product.id}-frame", method: :patch, class: "btn btn-outline-primary btn-sm mr-1" %>
                </div>
              <% end %>
              <% if policy(:cart).add_product? && !has_product %>
                <%= button_to 'to cart', add_product_to_cart_path(product_id: product.id, page: params[:page]), method: :post, class: "btn btn-primary", "data-turbo-frame": "product-#{product.id}-frame" %>
              <% end %>
              <% if  user_signed_in?  %>
                <% if current_user.favorites.exists?(product_id: product.id) %>
                  <%= button_to "Remove from favorites", toggle_favorite_product_path(id: product.id, page: params[:page]), method: :post,  class: 'btn btn-danger', "data-turbo-frame": "product-#{product.id}-frame" %>
                <% else %>
                  <%= button_to "Add to favorites", toggle_favorite_product_path(id: product.id, page: params[:page]), method: :post,  class: 'btn btn-info', "data-turbo-frame": "product-#{product.id}-frame" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
  <% end %>
</div>
<%= paginate @products %>
