<h1>Редактирование продукта</h1>
<%= form_with(model: @product, url: admin_product_path(@product), method: :patch) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <% if @product.image.attached? %>
    <div><%= image_tag @product.image %></div>
    <% end %>
    <%= form.file_field :image %>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price, required: true %>
  </div>
  <div>
    <%= form.submit "Save change" %>
  </div>
<% end %>
