<h1>Create new product</h1>
<%= form_with(model: @product, url: admin_products_path, local: true, method: :post, data: { turbo: false }) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, required: true %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.text_field :price, required: true %>
  </div>
  <%= form.label :type_product_ids, "Type Products", class: 'mb-2 mr-2' %>
  <div class="d-flex flex-wrap gap-3">
    <% @type_products.each do |type| %>
      <div class="form-check mr-3 mb-2">
        <%= check_box_tag 'product[type_product_ids][]', type.id, @product.type_product_ids.include?(type.id), id: "type_product_#{type.id}", class: 'form-check-input fs-5 me-2' %>
        <%= label_tag "type_product_#{type.id}", type.name, class: 'form-check-label fs-5' %>
      </div>
    <% end %>
  </div>
  <% if @product.errors.any? %>
      <div>
        <p><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</p>
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div>
    <%= form.submit "Create product" %>
  </div>
<% end %>