<%= link_to "Products", admin_products_path %>
<%= link_to "Root Admin", admin_dashboard_path %>
<h1>Users List</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= user.email %>
          <% end %>
        </td>
        <td>
          <%= form_for user, url: admin_user_path(user), method: :put do |f| %>
            <%= f.collection_check_boxes :role_ids, Role.all, :id, :name %>
            <%= f.submit "Обновить Роли", class: 'button' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
