<%= link_to "Products", admin_products_path %>
<%= link_to "Root Admin", admin_dashboard_path %>
<h1>Users List</h1>
<%= form_with(url: admin_users_path, method: "get", class: "form-inline my-2") do |form| %>
  <%= form.text_field :search, value: params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
<% end %>
<%= paginate @users %>
<table>
  <thead>
    <tr>
      <th><%= link_to "Email", url_for(params.to_unsafe_h.merge(sort_by: 'email')) %></th>
      <th>Roles</th>
      <th><%= link_to "Count Orders", url_for(params.to_unsafe_h.merge(sort_by: 'count_order')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= user.email %>
          <% end %>
        </td>
        <td>
          <%= form_for user, url: admin_user_path(user), method: :put do |f| %>
            <%= f.collection_radio_buttons :role_id, @roles, :id, :name %>
            <%= f.submit "Обновить Роли", class: 'button' %>
        <% end %>
        </td>
        <td>
          <%= user.orders.size %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>