
<h1>Welcome to My Online Store!</h1>
<% if user_signed_in? %>
  <%= link_to 'Profile', profile_path %>
  <% if current_user.admin? %>
    <%= link_to 'Admin', admin_dashboard_path %>
  <% end %>
  <% if current_user.cart.present? %>
    <%= link_to 'Cart', cart_path %>
  <% end %>
<% end %>
<% if @active_orders.present? %>
  <h1>Active Orders</h1>
  <% @active_orders.each do |order| %>
    Order ID: <%= order.id %>
    <p>Order status: <%= order.status %></p>
    <ul>
      <% order.order_items.each do |item| %>
        <li><%= item.product.name %> - Quantity: <%= item.quantity %></li>
      <% end %>
    </ul>
    Ordered at <%= order.created_at.strftime('%Y-%m-%d, %H:%M') %>
    <%= button_to ' Cancel order', profile_order_cancel_path(order.id), method: :patch %>
    <hr/>
  <% end %>
<% end %>
<h1>List of products</h1>
<ul>
  <% @products.each do |product| %>
    <div class="product">
      <%= image_tag product.image if product.image.attached? %>
      <div>
        <%= product.name %> - <%= product.price %>
        <% if user_signed_in? && current_user.cart && current_user.has_product?(product.id) %>
          <p>Quantity in Cart: <%= current_user.count_ordered_product(product.id) %></p>
        <% end %>
        <% if policy(:cart).add_product? %>
          <%= button_to 'Add to Cart', add_product_to_cart_path(product_id: product.id), method: :post %>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>
