<% if user_signed_in? %>
  <%= link_to 'Profile', profile_path %>
  <%= link_to "Support", support_main_path %>
  <% if current_user.admin? %>
    <%= link_to 'Admin', admin_dashboard_path %>
  <% end %>
  <% if current_user.cart.present? %>
    <div>
      <%= link_to 'Cart', cart_path %>
      <p>Total Price: <%= @total_price %></p>
      <%= button_to "Checkout", checkout_cart_path, method: :post %>
    </div>
  <% end %>
<% end %>
<%= render partial: "products/shared/orders" %>
<%= render partial: "products/shared/filter" %>
<div class="mt-5">
  <%= render partial: "products/shared/products" %>
</div>